@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html,
body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 10px;
  transition: 0.3s;
  font-size: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #D3E3FD;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 12px 6px;
  border: 1px solid #ccc;
  border-top: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.left-container {
  display: flex;
  width: 45%;
  position: relative;
  top: 4px;
  left: 5px;
}

.textbox-container {
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  width: 730px;
}

.lineup-container {
  position: relative;
  width: 730px;
  height: 900px;
  background-image: url("football_pitch_green.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.image-container {
  display: flex;
  width: 730px;
  height: 900px;
  position: relative;
}

.column-container {
  display: flex;
}

.full-settings {
  display: flex;
}

.settings-column {
  margin-top: 5px;
}

.select-box {
  margin-bottom: 10px;
}

.oppo-select-box {
  display: none;
}

#oppo-formation,
#oppo-name-switch-container {
  margin-top: 10px;
  height: 28px;
}

.select-box label,
.select-box select {
  margin-top: 4px;
  margin-left: 15px;
}

.input-group {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.column {
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px 0px 2px 0px;
  margin-left: 10px;
  background: linear-gradient(#32154E, #32154E 98%, #1B1D2C 2%, #1B1D2C);
  border: 2px solid #383B45;
}

.input-container {
  display: flex;
  padding: 5px 0px;
  border-radius: 3px;
}

.inputBox,
.secondBox,
.teamNameBox {
  background-color: rgba(200, 200, 200, 0.14);
  padding: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  opacity: 100%;
  border-radius: 5px;
  color: white;
  border-color: rgb(150, 150, 150, 0.5);
}

.secondBox {
  margin-right: 15px;
}

.teamNameBox {
  background-color: rgba(200, 200, 200, 0.28);
}

.textbox-container input::placeholder {
  color: rgb(80, 80, 80);

}

.labelHeader {
  color: white;
}

.teamSelectBox {
  cursor: pointer;
  background-color: #004D3E;
  color: white;
  font-family: "Exo", sans-serif;
  transform: skew(-10deg);
  padding: 5px;
  border: none;
}

.teamSelectBox:hover {
  background-color: #005a00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teamSelectBox[name="formation"] {
  width: 6vw;
}

.teamName {
  margin-right: 20px;
  margin-left: 15px;
}

.teamNameBox {
  min-width: 20vw !important;
}

.teamName label {
  margin-bottom: 5px;
}

p,
h2,
h3,
h4,
h5,
li,
option,
button,
input,
label,
.formation-label,
.copyright {
  margin-block-start: 0.2em;
  font-family: "Exo", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h3,
h4,
p {
  margin-block-end: 0.4em;
}

label {
  font-weight: bold;
  display: inline-flex;
}

button {
  font-weight: bold;
}

.column h2 {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

p,
li {
  font-size: 13px;
}

li {
  margin-left: 15px;
}

.inputBox,
.secondBox {
  flex: 1;
  width: 60%;
}

.label,
.label-position {
  font-family: "Exo", sans-serif;
  color: white;
  margin-top: 3px;
}

.label {
  width: 8%;
  padding: 3px 20px 0px 12px;
  text-align: left;
}

.label-position {
  width: 5%;
  font-size: 12px;
  text-align: left;
  padding: 6px 10px;
}

.teams-and-formations {
  width: 100%;
}

/**************
*  Color-     *
*  picker     *
**************/
.newTeam {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}

.color-picker {
  margin-right: 10px;
}

.color-pickers-container,
.color-pickers-oppo-container {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 10px;
}

.color-pickers-oppo-container {
  margin-top: 9px !important;
  margin-left: 0px !important;
}

.color-picker label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.color-picker input[type="color"] {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-picker input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-picker input[type="color"]:hover {
  transform: scale(1.1);
}

/**************
*    Toggle   *
*    switch   *
**************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
  margin-block-start: -2px;
  margin-left: 10px;
}

.longSwitch {
  width: 100px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 4px;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #1F1F1F;
  box-shadow: 0 0 1px white;
}

.slider:before {
  content: "testtttt";
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #017D3E;
}

input:focus+.slider {
  box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

input:checked+.longSlider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label,
.oppo-switch-label,
.oppo-name-switch-label {
  font-size: 12px;
  margin-top: 2px;
  display: contents;
  color: white;
  margin-right: 12px;
}

.oppo-switch-label {
  font-size: 16px;
}

#pitch-text,
#oppo-text,
#oppo-name-text,
#ball-text,
#label-text,
#tactical-text {
  color: white;
  font-size: 12px;
  padding-top: 4px;
}

#pitch-text,
#label-text {
  padding-left: 10px;
}

#oppo-text,
#oppo-name-text,
#ball-text,
#tactical-text {
  padding-left: 45px;
}

.pitchCheckBox,
.tacticalCheckbox,
.ballCheckbox,
.labelCheckbox {
  display: flex;
  justify-content: space-between;
}

/**************
*  Pitch      *
*  and labels *
**************/

.text-container {
  color: white;
}

.formation-label {
  position: absolute;
  margin-left: 90px;
  top: 2.5%;
}

.copyright {
  position: absolute;
  margin-left: 90px;
  top: 94.3%;

}

/**************
*   Circles   *
*   and text  *
**************/

.circle,
.oppoCircle {
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.circleStyle, .oppoCircleStyle {
  width: 32px;
  height: 32px;
}

.circleStyleSmall, .oppoCircleStyleSmall {
  width: 28px;
  height: 28px;
}

.circle {
  display: flex;
}

.oppoCircle {
  display: none;
}

.circleColor,
.circleColorGK,
.oppoCircleColor,
.oppoCircleColorGK {
  position: absolute;
  border-radius: 50%;
  text-align: center;
}

.circleColor,
.circleColorGK {
  border: 2px solid white;
  z-index: 6;
}

.circleColor {
  background-color: red;
}

.circleColorGK {
  background-color: #0186e1;
}

.oppoCircleColor {
  border: 2px solid #000000;
  background-color: #006631;
  display: none;
  z-index: 2;
}

.oppoCircleColorGK {
  background-color: #ffd700;
  border: 2px solid white;
  display: none;
  z-index: 2;
}

.circle-number {
  color: white;
  position: absolute;
  font-weight: bold;
  font-family: "Bebas Neue";
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.circle-number-font-large {
  font-size: 20px;
}

.circle-number-font-medium {
  font-size: 17px;
}

.circle-number-font-small {
  font-size: 15px;
}

.circle-number-font-large-oppo {
  font-size: 18px;
}

.circle-number-font-medium-oppo {
  font-size: 16px;
}

.circle-number-font-small-oppo {
  font-size: 14px;
}

.circle>.circle-number {
  z-index: 6;
}

.oppoCircle>.circle-number {
  z-index: 2;
}

.output-container,
.oppo-output-container {
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.oppo-output-container {
  z-index: 2;
}

.startingStyleOne,
.secondStyleOne {
  display: none;
  position: absolute;
  padding: 4px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 11px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.startingStyleOne {
  bottom: -38px;
  background-color: #ffffff;
  z-index: 6;
}

.secondStyleOne {
  bottom: -61px;
  opacity: 0.9;
  background-color: #C8C8C8;
  z-index: 3;
}

.startingStyleTwo,
.secondStyleTwo {
  position: absolute;
  font-size: 13px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.startingStyleTwo {
  color: #ffffff;
  bottom: -38px;
  z-index: 1;
}

.secondStyleTwo {
  color: #cfcfcf;
  font-style: italic;
  bottom: -56px;
  z-index: 1;
}

.ball,
.smallBall {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
  background: url('football-no-background.png') no-repeat;
  border: #777777 1px solid;
  border-radius: 50%;
  background-size: 100%;
  z-index: 5;
}

.smallBall {
  width: 16px;
  height: 16px;
}

.newNumberInputBox {
  background-color: rgba(220, 220, 220, 0.9);
  width: 2vw;
  text-align: center;
  position: absolute;
  z-index: 25;
}

/**************
*   Buttons   *
**************/

.select-buttons {
  display: flex;
}

.button-container {
  display: flex;
}

#chooseFileButton,
#importButton,
#downloadButton,
#screenshotButton,
#showLineUpButton {
  margin-top: 10px;
  padding: 8px 8px;
  background-color: #017D3E;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#chooseFileButton,
#downloadButton,
#screenshotButton {
  display: inline-block;
}

#importButton {
  display: none;
  background-color: blue;
  margin-left: 10px;
}

#downloadButton {
  margin-left: 15px;
  margin-right: 10px;
}

#chooseFileButton:hover,
#importButton:hover,
#downloadButton:hover,
#screenshotButton:hover,
#showLineUpButton:hover {
  background-color: #45a049;
}

/* Upload button */
.input-group label,
.input-group button {
  margin-left: 10px;
  margin-bottom: 10px;
}

#showLineUpButton {
  position: relative;
  width: 99%;
  margin-bottom: 20px;
  display: none;
  background-color: #E85253 !important;
}

#reminderLabel {
  display: none;
  color: red;
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
  float: right;
  margin-top: 10px;
}

/**************
*  Help icon  *
*  & gear     *
**************/

.help-icon,
.gear-icon {
  font-size: 24px;
  color: white;
  top: 10px;
  left: 10px;
  margin-left: 5px;
  margin-bottom: 9px;
  cursor: pointer;
  border: #212331 6px solid;
  border-radius: 50%;
}

.help-icon:hover,
.gear-icon:hover {
  background-color: #40364e;
  border: #40364e 6px solid;
  border-radius: 50%;
  transform: scale(1.08);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  width: 600px;
  height: 700px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.close-btn i {
  font-size: 24px;
  color: black;
}

pre {
  background-color: #f5f5f5;
  margin: 1em 1px 0 1px;
}

#settings {
  position: absolute;
  top: 13%;
  left: 48.5%;
  background-color: rgba(33, 35, 49, 1);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  z-index: 100;
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  /* Semi-transparent overlay */
  z-index: 100;
  /* Ensure the overlay is on top */
}

.hidden {
  display: none;
}

@media screen and (max-width: 1366px) {
  .left-container {
    width: 50%;
  }

  .container {
    position: absolute;
    top: 5px;
    align-items: normal;
  }

  #select-team-box {
    margin-right: 10px;
  }

  .full-settings {
    display: block;
  }

  .settings-column {
    margin-top: 15px;
  }

  .newTeam {
    display: block;
    width: 45vw;
  }

  .lineup-container {
    width: 584px;
    height: 720px;
    margin-left: 2%;
  }

  .left-container {
    display: block;
  }

  .textbox-container {
    width: 45vw;
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 10px;
  }

  .image-container {
    width: 584px;
    height: 720px;
  }

  .column {
    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .teamSelectBox {
    width: 20vw;
  }

  .teamSelectBox[name="formation"] {
    width: 20vw;
    margin-left: 10px;
  }

  #select-formation-box {
    margin-left: 15px;
  }

  .select-buttons {
    display: block;
  }

  .select-box label,
  .select-box select,
  .input-group,
  .teamName,
  #chooseFileButton,
  #downloadButton {
    margin-left: 0px !important;
  }

  .color-pickers-container,
  .color-pickers-oppo-container {
    margin-top: 10px;
    width: 90%;
    margin-left: 0px;
    max-width: 500vw;
  }

  .teamNameBox {
    width: 43vw !important;
  }

  .teamName {
    margin-right: 0px;
  }

  .pitchCheckBox,
  .ballCheckbox {
    display: flex;
  }

  #pitchLabel,
  #ballLabel {
    margin-bottom: 5px;
  }

  .formation-label,
  .copyright {
    margin-left: 72px;
  }

  .teams-and-formations {
    display: flex;
  }

  .circleStyle, .oppoCircleStyle {
    width: 28px;
    height: 28px;
  }
  
  .circleStyleSmall, .oppoCircleStyleSmall {
    width: 24px;
    height: 24px;
  }

  .circle-number-font-large {
    font-size: 18px;
  }
  
  .circle-number-font-medium {
    font-size: 15px;
  }
  
  .circle-number-font-small {
    font-size: 13px;
  }
  
  .circle-number-font-large-oppo {
    font-size: 16px;
  }
  
  .circle-number-font-medium-oppo {
    font-size: 14px;
  }
  
  .circle-number-font-small-oppo {
    font-size: 12px;
  }
}

@media screen and (max-width: 824px) {
  .column-container {
    display: block;
  }

  .lineup-container {
    margin-left: 20%;
  }

  .left-container {
    width: 40%;
  }

  .textbox-container {
    width: 130%;
  }

  .teams-and-formations {
    width: 100%;
  }

  .input-container {
    display: none;
  }

  #showLineUpButton {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .left-container {
    width: 45%;
  }

  .lineup-container {
    margin-left: 22%;
  }
}

@media screen and (max-width: 570px) {
  .left-container {
    width: 50%;
  }

  .lineup-container {
    margin-left: 24%;
  }
}

@media screen and (max-width: 520px) {
  .left-container {
    width: 55%;
  }

  .lineup-container {
    margin-left: 26%;
  }
}

@media screen and (max-width: 470px) {
  .left-container {
    width: 60%;
  }

  .lineup-container {
    margin-left: 28%;
  }
}

@media screen and (max-width: 420px) {
  .left-container {
    width: 65%;
  }

  .lineup-container {
    margin-left: 30%;
  }

  .switch-label,
  .oppo-switch-label,
  .oppo-name-switch-label {
    font-size: 11px;
  }
}

@media screen and (max-width: 420px) {
  .left-container {
    width: 70%;
  }

  .lineup-container {
    margin-left: 30%;
  }

}

@media screen and (max-width: 320px) {
  .left-container {
    width: 80%;
  }

  .lineup-container {
    margin-left: 36%;
  }
}