@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html,
body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 98%;
  justify-content: flex-start;
}

.textbox-container {
  padding: 20px 0px 20px 20px;
  width: 50vw;
}

.select-box {
  margin-bottom: 10px;
}

.select-box label,
.select-box select {
  margin-top: 4px;
  margin-left: 15px;
}

.input-group {
  margin-left: 185px;
  display: flex;
  align-items: flex-end;
}

.lineup-container {
  width: 50vw;
}

.column {
  display: inline-block;
  width: 22.5vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px 0px 2px 0px;
  margin-left: 10px;
  background: linear-gradient(#32154E, #32154E 98%, #1B1D2C 2%, #1B1D2C);
  border: 2px solid #383B45;
}

.input-container {
  display: flex;
  padding: 5px 0px;
  border-radius: 3px;
}

.textbox-container input {
  width: 100%;
  background-color: rgb(238, 238, 238);
  padding: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.labelHeader {
  color: white;
}

.teamSelectBox {
  cursor: pointer;
  background-color: #004D3E;
  color: white;
  font-family: "Exo", sans-serif;
  transform: skew(-10deg);
  padding: 5px;
  border: none;
  width: 12vw;
}

.teamSelectBox:hover {
  background-color: rgb(0, 90, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teamSelectBox[name="formation"] {
  width: 6vw;
}

.teamName {
  margin-right: 20px;
  margin-left: 15px;
}

.teamNameBox {
  width: 21.5vw !important;
}

.teamName label {
  margin-bottom: 5px;
}

p,
h2,
h3,
h4,
li,
option,
button,
input,
label,
.formation-label,
.copyright {
  font-family: "Exo", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

label {
  font-weight: bold;
  display: inline-flex;
}

button {
  font-weight: bold;
}

.column h2 {
  font-size: 18px;
  color: white;
  text-align: center;
}

p,
li {
  font-size: 14px;
}

li {
  margin-left: 15px;
}


.inputBox,
.backupBox {
  flex: 1;
}

.label,
.label-position {
  font-family: "Exo", sans-serif;
  color: white;
  margin-top: 3px;
}

.label {
  width: 8%;
  padding: 3px 20px 0px 12px;
  text-align: left;
}

.label-position {
  width: 5%;
  font-size: 12px;
  text-align: left;
  padding: 6px 10px;
}

/**************
*  Color-     *
*  picker     *
**************/
.newTeam {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  margin-top: 10px;
}

.color-pickers-container {
  display: flex;
  justify-content: space-between;
  width: 22.5vw;
}

.color-picker label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.color-picker input[type="color"] {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-picker input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-picker input[type="color"]:hover {
  transform: scale(1.1);
}

/**************
*  Pitch      *
*  and labels *
**************/

.image-container {
  display: flex;
  width: 730px;
  height: 900px;
  position: relative;
  background-image: url("football field730900.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  border-radius: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.formation-label,
.copyright {
  box-sizing: border-box;
}

.formation-label {
  margin-top: 25px;
  margin-left: 90px;
  text-align: left;
}

.copyright {
  margin-bottom: 25px;
  margin-left: 90px;
  text-align: left;
}

/**************
*   Circles   *
*   and text  *
**************/

.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle1 {
  background-color: #0186e1;
}

.circle-number {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: bold;
  font-family: "Bebas Neue";
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.output-container {
  position: relative;
  /*Sets the position of the text labels to the circle*/
}

.outputStarting,
.outputBackup {
  position: absolute;
  transform: translate(-50%, 50%);
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  width: fit-content;
}

.outputStarting {
  bottom: -35px;
  background-color: #ffffff;
}

.outputBackup {
  bottom: -65px;
  opacity: 0.85;
  background-color: #C8C8C8;
}

/**************
*   Buttons   *
**************/

.select-buttons {
  display: flex;
}

.button-container {
  display: flex;
}

#chooseFileButton,
#importButton,
#downloadButton,
#screenshotButton,
#showLineUpButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #017D3E;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#chooseFileButton,
#downloadButton,
#screenshotButton {
  display: inline-block;
}

#importButton {
  display: none;
  background-color: blue;
  margin-left: 10px;
}

#downloadButton {
  margin-left: 15px;
  margin-right: 15px;
}

#chooseFileButton:hover,
#importButton:hover,
#downloadButton:hover,
#screenshotButton:hover,
#showLineUpButton:hover {
  background-color: #45a049;
}

/* Upload button */
.input-group label,
.input-group button {
  margin-left: 10px;
  margin-bottom: 10px;
}

#showLineUpButton {
  position: relative;
  width: 99%;
  margin-bottom: 20px;
  display: none;
  background-color: #a7219a !important;
  /* background-color: #E85253 !important; */
}

/**************
*  Help icon  *
**************/

.help-icon {
  font-size: 24px;
  color: white;
  top: 10px;
  left: 10px;
  margin-left: 10px;
  margin-bottom: 14px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  width: 600px;
  height: 700px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.close-btn i {
  font-size: 24px;
  color: black;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
}

@media screen and (max-width: 1000px) {

  #select-team-box {
    width: 40vw;
    margin-right: 10px;
  }

  .newTeam {
    display: block;
    width: 80vw;
  }

  .textbox-container {
    width: 80vw;
    margin-left: 5px;
  }

  .lineup-container {
    margin-left: 10px;
   
  }

  .teams-and-formations {
    display: flex;
  }

  .column {
    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .teamSelectBox {
    width: 40vw;
  }

  .teamSelectBox[name="formation"] {
    width: 35vw;
  }

  .select-buttons {
    display: block;
  }

  .select-box label,
  .select-box select,
  .input-group,
  .input-group label,
  .teamName,
  #downloadButton {
    margin-left: 0px !important;
  }

  #showLineUpButton {
    display: block;
  }

  .color-pickers-container {
    margin-top: 10px;
    width: 100%;
  }

  .teamNameBox {
    width: 96% !important;
  }

  .teamName {
    margin-right: 0px;
  }

  .input-container {
    display: none;
  }
}