@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.textbox-container {
  width: 65%;
  padding: 20px;
  margin-left: 30px;
  box-sizing: border-box;
}

/* Additional styling to enhance the appearance */
.select-box label,
.input-group label,
#importButton {
  margin-right: 5px;
  display: inline;
}

.color-picker {
  display: inline-block;
  vertical-align: top;
}

.input-group {
  vertical-align: top;
  margin-top: -2px;
  margin-left: 270px;
  display: flex;
  align-items: flex-end;
}

.select-box label,
.select-box select {
  margin-left: 15px;
  display: block;
}

.newTeam {
  display: flex;
  align-items: center;
}

.teamName {
  margin-right: 230px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.color-picker {
  margin-bottom: 10px;
  margin-right: 20px;
}

.color-picker label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

.color-picker input[type="color"] {
  padding: 0;
  border: solid 1px black;
  width: 30px;
  height: 30px;
  appearance: none;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-picker input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-picker input[type="color"]::-moz-focus-inner {
  border: none;
}

.color-picker input[type="color"]::-ms-check {
  border: none;
}

.color-picker input[type="color"]::-ms-expand {
  display: none;
}

.color-picker input[type="color"]:hover {
  transform: scale(1.1);
}

.column {
  position: relative;
  display: inline-block;
  width: 370px;
  vertical-align: top;
  margin-right: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px 5px 10px 10px;
  margin-left: 10px;
}

.column h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

p, h2, h3, h4, li {
  font-family: "Montserrat", sans-serif;
}

p, li {
  font-size: 14px;
}

li {
  margin-left: 15px;
}

.starting-column {
  background-color: #e8f1fa;
  border-right: 2px solid #a6c3d9;
}

.backup-column {
  background-color: #d8e5f3;
  border-left: 2px solid #a6c3d9;
}

.label-container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.label-container label {
  margin-right: 5px;
}

.inputBox,
.backupBox {
  margin-left: 5px;
  flex: 1;
  box-sizing: border-box;
}

.label, .label-position {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.label{
  width: 40px;
}

.label-position {
  width: 20px;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.inputBox {
  width: 100%;
  box-sizing: border-box;
}

.textbox-container input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.textbox-container input:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: flex-start;
  margin-left: -50px;
}

.image-container {
  width: 730px;
  height: 900px;
  position: relative;
  background-image: url("football field730900.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  border-radius: 20px;
}

.circle:before {
  font-family: 'Bebas Neue', sans-serif;
}

.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputStarting,
.outputBackup {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: block;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #000;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 15px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  width: fit-content;
}

.outputBackup {
  bottom: -65px;
  opacity: 0.85;
  background-color: #C8C8C8;
}

.outputStarting {
  bottom: -35px;
}

.output-container {
  position: relative;
}

.select-box {
  margin-bottom: 10px;
  display: inline;
}


.input-group label,
.input-group button {
  margin-left: 10px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.labelHeader {
  color:white;
}

.select-box select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.select-box select:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.circle-number {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: bold;
  font-family: "Bebas Neue";
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#chooseFileButton,
#importButton,
#downloadButton,
#screenshotButton {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#chooseFileButton,
#downloadButton,
#screenshotButton {
  display: inline-block;
}

#importButton {
  margin-bottom: 5px;
  display: none;
}

#downloadButton {
  margin-left: 15px;
}

#chooseFileButton:hover,
#importButton:hover,
#downloadButton:hover,
#screenshotButton:hover {
  background-color: #45a049;
}

.help-icon {
  font-size: 24px;
  color: white;
  position: flex;
  top: 10px;
  left: 10px;
  margin-left: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  width: 600px;
  height: 700px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.close-btn i {
  font-size: 24px;
  color: black;
}


pre {
  background-color: #f5f5f5;
  padding: 10px;
}

#circle1 { background-color: #0186e1; } /* #1 */
